/*=========================================================*
 *BeyBuilder X v1.0 for Beyblade X                         *
 *Author: Fabel                                            *
 *Copyright 2023                                           *
 *=========================================================*/

/* win buttons */
.win-button-title{
    width:auto;
    display: flex;
    justify-content: center;
}

/* VS record table */
/* label on the left */
.record-table-label{
    width: 1%;
    white-space: nowrap;
    padding-left: 0.5em;
}
/* a flexbox to hold spans aligned left and aligned right */
#wins2Container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
/* border is doubling-up when I put spans or divs inside td */
#wins2Col {
    border-top: none;
    border-bottom: none;
}
#recordsSpace > table {
    width:100%;
}
/* thick line under 1st and 3rd rows */
#recordsSpace > table > tbody > tr:nth-child(1) {
    border-bottom: 3px solid;
}
#recordsSpace > table > tbody > tr:nth-child(3) {
    border-bottom: 3px solid;
}

#bey1StatsTable > tbody > tr:nth-child(1) > th { 
    width: 100%
}
/* TODO: no border on this table */
#bey1StatsTable{
    border: none;
    width: 100%;
}
/* child selector + override is not working as intended */
#bey1StatsTable > tbody > tr { 
    border: none;
    border-top: 0px;
    border-bottom: 0px;
}

/* styling for drop downs */
.select-basic{
    padding: 3px;
    margin: 3px;
}

.select-list{
    padding: 3px;
    margin: 3px;
}

#vsContainer {
    visibility: hidden;
    display: none;
}

/* styling for delete buttons */
.btn-danger {
    padding: 4px;
    margin: 3px;
}

/* styling for basic buttons */
.btn-primary {
    padding: 4px;
    margin: 3px;
}


/* vs win buttons */
.btn-win {
    width: 120px;
}
.btn-nowin {
    width: 80px;
}

/* Matchup History table */
#matchupSpace, #totalsSpace {
    width: 100%;
}
#matchupHistUser {
    width: 100%;
}

/* make modal headers and footers sticky */
.modal-header--sticky {
    position: sticky;
    top: 0;
    z-index: 1055;
  }
  
.modal-footer--sticky {
    position: sticky;
    bottom: 0;
    z-index: 1055; 
}

/* page footer */

footer {
    padding-left: 4px;
    padding-right: 2px;
}

/* spin animation */
.spinme {
    animation: bigspin 1s 1;
}
@keyframes bigspin {
    100% { 
        transform: rotate(1440deg);
    }
}
